/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-content-background: #141922;
}
/* Layout */
body {
    font-family: 'Montserrat', sans-serif;;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.xs-ver {
    display: none;
}

.selected-nav {
    box-shadow: -10px 0px 0px 0px green;
}
/* UTILITY */
.flex {
    display: flex;
}
.align-ct {
    align-items: center;
}
/* WRAPPER */
#wrapper {
    width: 100%;
    height: calc(100vh - 80px);
    /* debug */
    background-color: grey;
}

/* Sidenav */
.sidenav {
    width: 250px;
    height: 100%;
    padding: 0 10px;
    position: relative;
    color: lightgray;
    /* debug */
    background-color: black;
}
/* Logo */
.logo {
    width: 100%;
    padding: 10px 0;
}

.logo .norm-ver{
    max-width: 70%;
}

.logo .xs-ver {
    max-width: 100%;
}
/* /Logo */
/* Navigation btn */

.navigate li {
    margin: 10px 0;
}
.navigate a {
    align-items: center;
}

.navigate a img {
    display: inline-block;
    width: 30px;
}

.navigate h4 {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 300;
}
/* /Navigation btn */

/* Playlist */
.playlist {
    padding: 10px 0;
    line-height: 2rem;
}

.playlist h3 {
    margin: 10px 0;
}

.add-playlist {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.add-playlist h4{
    font-size: 1rem;
}
/* /Playlist */


.nav-foot {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
}
.download-app {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid lightgray;
    font-weight: 100;
}

.download-app a img {
    display: inline-block;
    width: 30px;
}

.user {
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
}

.round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid lightgrey;
}

.user h3 {
    font-size: 1.5rem;
    margin-left: 10px;
}
/* /Sidenav */
/* Content */
.content {
    width: calc(100% - 250px);
    position: relative;
    /* debug */
    /* border: 3px solid black; */
}
/* Content-Header */
.content header {
    padding: 15px;
    text-align: right;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    left: 250px;
    background-color: rgba(0, 0, 0, 0.4);
}
.button {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 2px solid white;
    color: white;
}
/* /Content-Header */

main {
    height: 100%;
    padding-top: 50px;
    overflow-y: scroll;
    background-color: var(--main-content-background);
}

/* /Content */

/* /WRAPPER */

/* PLAYER */
#player {
    width: 100%;
    height: 80px;
    /* debug */
    background-color: black;
}
/* /PLAYER */
