/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-content-background: #141922;
    --main-header-height: 75px;
    --text-grey-color: rgb(103, 97, 97);
    --player-bg-color: #282828;
}
/* Layout */
body {
    font-family: 'Montserrat', sans-serif;;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.xs-ver {
    display: none;
}

.selected-nav {
    border-left: 2px solid green;
}

/* UTILITY */
.flex {
    display: flex;
}

.align-ct {
    align-items: center;
}
/* WRAPPER */
#wrapper {
    width: 100%;
    height: calc(100vh - 80px);
    /* debug */
    background-color: grey;
}

/* SIDENAV */
.sidenav {
    width: 250px;
    height: 100%;
    position: relative;
    color: lightgray;
    /* debug */
    background-color: black;
}
/* Logo */
.logo {
    width: 100%;
    padding: 10px;
    
}

.logo .norm-ver{
    max-width: 70%;
}

.logo .xs-ver {
    max-width: 100%;
}
/* /Logo */
/* Navigation btn */

.navigate li {
    margin: 10px 0;
    padding: 0 10px;
}

.navigate a {
    align-items: center;
}

.navigate a img {
    display: inline-block;
    width: 30px;
}

.navigate h4 {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 500;
}
/* /Navigation btn */

/* Playlist */
.playlist {
    padding: 10px 0;
    line-height: 2rem;
}

.playlist h3 {
    margin: 10px 0;
}

.add-playlist {
    padding-bottom: 10px;
}

.add-playlist h4{
    font-size: .9rem;
}
/* /Playlist */

/* Nav-footer */
.nav-foot {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
}

.download-app {
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 1px solid rgb(103, 97, 97);
}

.download-app h4{
    font-weight: 300;
    margin-left: 5px;
}

.download-app a img {
    display: inline-block;
    width: 30px;
}

.user {
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
}

.round {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.user h3 {
    font-size: 1.2rem;
    margin-left: 10px;
}
/* /Nav-footer */
/* /SIDENAV */

/* CONTENT */
.content {
    width: calc(100% - 250px);
    position: relative;
    /* debug */
    /* border: 3px solid black; */
}
/* Content-header */
.content header {
    padding: 15px;
    height: var(--main-header-height);
    text-align: right;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    left: 250px;
    background-color: rgba(0, 0, 0, 0.4);
}
.button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
}
/* /Content-header */

/* Content-main */
main {
    height: 100%;
    padding-top: var(--main-header-height);
    overflow-y: auto;
    background-color: var(--main-content-background);
    color: white;
}

/* main-nav */
.main-nav ul {
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
    width: 70%;
    margin: 0 auto;
}
.main-nav li {
    text-transform: uppercase;
    color: var(--text-grey-color);
    font-weight: 600;
    position: relative;
    min-width: fit-content;
    margin: 15px;
}

.main-nav .selected-main::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 50%;
    border-bottom: 2px solid lightgreen;
    transform: translate(-50%, 50%);
}
/* /main-nav */

/* Album-section */
.album-sec {
    margin: 20px 0;
}

.album {
    padding: 0 20px;
}

.raw {
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6 - 15px);
    text-align: center;
    margin-right: 15px;
}

.circ {
    border-radius: 50%;
}

.album-img {
    padding: 20px 0;
}

.album-img img {
    width: 100%;
    display: inline-block;
}

.album-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.album-subt {
    font-weight: 100;
    color: var(--text-grey-color);
    text-transform: capitalize;
}

.subt {
    font-weight: 100;
    color: var(--text-grey-color);
    margin: 10px 0;
}
/* /Album-section */

/* /CONTENT */
/* /WRAPPER */

/* PLAYER */
#player {
    width: 100%;
    height: 80px;
    /* debug */
    background-color: var(--player-bg-color);
    color: white;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}

/* Song-info */
.song-info {
    width: 240px;
}

.img {
    width: 40px;
    margin-right: 10px;
}

.song-info img {
    max-width: 100%;
}

.info {
    flex-direction: column;
    justify-content: center;
}

.info .album-title,.album-subt {
    font-size: .8rem;
    margin: 0;
    padding: 0;
}

.add-library i{
    margin-left: 10px;
    color: var(--text-grey-color);
    cursor: pointer;
}
/* /Song-info */
/* Song-command */
.song-command {
    width: 30%;
    min-width: 300px;
    font-size: 1.5rem;
}

.song-btn {
    justify-content: center;
    letter-spacing: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.song-command .play {
    font-size: 2rem;
    margin: 0 10px;
}

.song-duration {
    font-size: .8rem;
    align-items: center;
    justify-content: space-between;
}

.timer {
    width: 80%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--text-grey-color);
}

.max {
    width: 10%;
    text-align: right;
}

.min {
    width: 10%;
}

.time {
    width: 25%;
    height: 4px;
    border-radius: 4px;
    background-color: lightgrey;
}
/* /Song-command */

/* Song-mixer */
.song-mixer {
    width: 240px;
    align-items: center;
    justify-content: space-between;
}

.mixer-btn {
    text-align: center;
}

.volume {
    width: 50%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--text-grey-color);
}

.vol {
    width: 25%;
    height: 4px;
    border-radius: 4px;
    background-color: lightgrey;
}
/* /Song-mixer */
/* /PLAYER */
