/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Layout */
body {
    font-family: 'Montserrat', sans-serif;;
}

a {
    text-decoration: none;
    color: inherit;
}
/* UTILITY */
.flex {
    display: flex;
}
.align-ct {
    align-items: center;
}
/* WRAPPER */
#wrapper {
    width: 100%;
    height: calc(100vh - 80px);
    /* debug */
    background-color: grey;
}

/* Sidenav */
.sidenav {
    width: 250px;
    height: 100%;
    padding: 0 10px;
    position: relative;
    color: white;
    /* debug */
    background-color: lightgray;
}

.logo {
    padding: 10px 0;
}
.logo img{
    max-width: 70%;
}

.nav-foot {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.download-app {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.user {
    padding-top: 10px;
    width: 100%;
}

.round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid lightblue;
}

.user h3 {
    font-size: 1.5rem;
    margin-left: 10px;
}

/* /Sidenav */
/* Content */
.content {
    width: calc(100% - 250px);
    position: relative;
    /* debug */
    border: 3px solid black;
}

.content header {
    height: 50px;
    position: fixed;
    right: 0;
    top: 0;
    left: 250px;
    /* debug */
    background-color: rgba(0, 0, 0, 0.4);
}

main {
    height: 100%;
    padding-top: 50px;
    overflow-y: scroll;
    background-color: red;
}

/* /Content */

/* /WRAPPER */

/* PLAYER */
#player {
    width: 100%;
    height: 80px;
    /* debug */
    background-color: black;
}
/* /PLAYER */
